
#title {
	background-color: red;
	text-align: center;
	font-family: fantasy;
}
#container {
	background-color: green;
	margin: 0px 0px 35px 160px;
	padding: 1px 10px;
	width: 980px;
	float:left;
}
#menu h3 {margin-left: 50px;
}
nav {
	background-color: blueviolet;
	display: block;
	float: left;
	width: 150px;
	height: 170px;
	position: fixed;
}
aside {
	background-color: deeppink;
	float: right;
	width:175px;
	height: 170px;
	}
article {
	background-color: chartreuse;
	padding-left: 10px;
	min-height: 480px;
	margin: 30px;
}
footer {
	background-color: yellow;
	clear: both;
}