html {
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
}

.header {
	text-align: center;
	font-size:46px;
}
.content {
	margin: 0px 0px 35px 160px;
	padding: 1px 10px;
	width: 980px;
	float:left;
	font-size: 14px;
}
h3.navigation {
	margin-left: 50px;
}
.navigation {
	display: block;
	float: left;
	width: 150px;
	height: 170px;
	position: fixed;
	font-size: 12px;
}
.sidebar {
	float: right;
	width:175px;
	height: 170px;
	font-size: 10px;
	}
article {
	padding-left: 10px;
	min-height: 480px;
	margin: 30px;
}
.footer {
	clear: both;
	text-align: center;
	font-size: 10px;
}
[class$=r] {
	background-color: magenta;
}
[class*="a"]:not([class$=r]){
	background-color: blue;
}